:root {
  /* Off-White */
  --primary-background-color: #f8f4f0;
  /* Warm Beige */
  --secondary-background-color: #eae0d5;
  /* Dusty Rose */
  --accent-color: #d59b86;
  /* Dark Brown */
  --primary-text-color: #504136;
  /* Light Gray */
  --secondary-text-color: #a8a197;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Charcoal */
    --primary-background-color: #222831;
    /* Lighter Gray */
    --secondary-background-color: #393e46;
    /* Teal */
    --accent-color: #00adb5;
    /* Light Beige */
    --primary-text-color: #eeeeee;
    /* Medium Gray */
    --secondary-text-color: #726d64;
  }
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
}
