body {
  /* Off-White */
  --primary-background-color: #f8f4f0;
  /* Warm Beige */
  --secondary-background-color: #eae0d5;
  /* Dusty Rose */
  --accent-color: #d59b86;
  /* Dark Brown */
  --primary-text-color: #504136;
  /* Light Gray */
  --secondary-text-color: #a8a197;
}

body[data-theme="dark"] {
  /* Dark Charcoal */
  --primary-background-color: #222831;
  /* Lighter Gray */
  --secondary-background-color: #393e46;
  /* Teal */
  --accent-color: #00adb5;
  /* Light Beige */
  --primary-text-color: #eeeeee;
  /* Medium Gray */
  --secondary-text-color: #726d64;
}

body[data-theme="dark"] [data-theme="light"] {
  display: none;
}

body[data-theme="light"] [data-theme="dark"] {
  display: none;
}

html {
  font-family: "EB Garmond", serif;
  font-size: 22px;
  line-height: 1.3em;
}

code {
  font-size: 0.9em;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  color: var(--accent-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  line-height: 1em;
}

h1 {
  margin-bottom: 0.75rem;
}

h2,
h3 {
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: var(--accent-color);
}

header a {
  color: var(--primary-text-color);
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.icon {
  fill: var(--primary-text-color);
  width: 1em;
  height: 1em;
}

time {
  display: block;
  color: var(--secondary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

ul {
  margin: 0 0 0 1.5em;
  padding: 0;
  list-style-type: disc;
}

ul a {
  text-decoration: none;
}

ul h2 {
  margin-top: 0;
}

ul>li {
  margin-top: 1em;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

main .articles ul {
  margin: 0;
  list-style-type: none;
}

main .articles ul a {
  display: block;
}

pre {
  margin: 0;
}

pre code {
  font-family: 'JetBrains Mono', monospace;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
}

code.hljs {
  padding: 3px 5px
}

/* end baseline CSS */
.hljs {
  color: var(--primary-text-color);
}

.hljs-comment {
  color: var(--secondary-text-color);
}

.hljs-tag,
.hljs-punctuation {
  color: var(--primary-text-color);
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: var(--accent-color);
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--accent-color);
}

.hljs-title,
.hljs-section {
  color: var(--accent-color);
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: var(--accent-color);
}

/* Language color: hue: 90; */
.hljs-literal {
  color: var(--accent-color);
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: var(--primary-text-color);
}

/* Meta color: hue: 200 */
.hljs-meta {
  color: var(--secondary-text-color);
}

.hljs-meta .hljs-string {
  color: var(--secondary-text-color);
}

/* Misc effects */
.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: bold
}
